body {
    background-color: rgb(30, 76, 122);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.layout{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-areas:
        "header header header header"
        "nav nav nav nav"
        "lateral content content content"
        "footer footer footer footer"
    ;
    grid-template-rows: 100px 70px auto 70px;

}

.header{
    grid-area: header;
    border: 5px solid rgb(165, 163, 163);
    background: #2036a0;
}

.nav{
    grid-area: nav;
    border: 5px solid rgb(165, 163, 163);
    background: #7c8de2;
}

.content{
    grid-area: content;
    border: 5px solid rgb(165, 163, 163);
    background: #516cf0;
}

.lateral{
    grid-area: lateral;
    border: 5px solid rgb(165, 163, 163);
    background: #2036a0;
}

.footer{
    grid-area: footer;
    border: 5px solid rgb(165, 163, 163);
    background: #7c8de2;
}